@using NZNA.Models;

@model NZNA.Areas.Admin.Models.Contact

@{
    ApplicationDbContext db = new ApplicationDbContext();
    var contactinfo = db.Sitesets.SingleOrDefault();
}
@{
    ViewBag.Title = "Contact";
}

<!--Page Info end-->
<!-- contect-page-section -->
<section class="contact-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="column col-md-7 col-sm-6 col-xs-12">
                <h2>Send Us Message</h2>
                <div class="contact-form default-form">
                    @using (Html.BeginForm())
                    {
                @Html.AntiForgeryToken()
                <form method="post" action="#" id="contact-form" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" , @placeholder="Full Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <input type="submit" value="SEND" class="btn-one">
                        </div>
                    </div>
                </form>

                    }
                </div>
            </div>
            <!--Column-->
            <div class="column col-md-5 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <h2>Our Address</h2>
                    <div class="text">
                        You can find us here.
                    </div>
                    <div class="contact-info">
                        <ul>
                            <li>
                                <span class="icon fa fa-map-marker"></span>
                                <h3>Address</h3> @contactinfo.Address
                            </li>
                            <li>
                                <span class="icon fa fa-envelope"></span>
                                <h3>Email</h3> @contactinfo.Email
                            </li>
                            <li>
                                <span class="icon fa fa-volume-control-phone"></span>
                                <h3>PHONE</h3> @contactinfo.Phone
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>