@{
    ViewBag.Title = "Home Page";
}
@model NZNA.Areas.Admin.Models.Aboutpage
    @using NZNA.Models;
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    var updates = db.Events.OrderByDescending(x => x.CreatedDate).ToList().Take(5);
    var about = db.Aboutpages.SingleOrDefault();
}


  @Html.Partial("_banner")
<div class="welcome-sec">
    <div class="container">
        <div class="row">
            @Html.Partial("_Saugat")
            <div class="col-lg-6 col-md-4 col-sm-6">
                <div class="weltext">
                    <h2>Welcome to <span>New Zealand Nepal Society!</span></h2>
                    <p class="midtext">Namaste and Kia Ora!</p>

                    @try
                    {
                        <p>@Html.Raw(about.Description.Substring(0, 600)) <a href="/home/about">Read More...</a></p>
                    }
                    catch
                    {
                        <p>No description!</p>
                    }


                        @*@try
                        {
                            <p>@Html.Raw(Model.Description.Substring(0, 350)) <a href="/home/about">Read More...</a></p>
                        }
                        catch
                        {
                            <p>No description!</p>
                        }*@


                    </div>
                <div class="clearfix"></div>
                <div class="weltext">
                    @*<div class="single-blog-post">

            <div class="content-box">
                <div class="content">
                    <a href="#"><h3>Lates blog post with image</h3></a>
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-user"></i>2nd March 2017</a></li>

                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, his ea unum ponderum, detracto ponderum an vim...</p>

                </div>
                <div class="img-box">
                    <img src="~/Contents/images/resource/blog-image-5.jpg" alt="">
                    <div class="date">
                        <b>24</b> apr
                    </div>
                </div>
                <div class="bottom-box clearfix">
                    <a href="blog-single.html" class="blogbtn">Read More &nbsp;<i class="icon fa fa-long-arrow-right"></i></a>
                    <ul class="pull-right share">
                        <li><span>Share: </span></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>*@

                   
                        @foreach (var items in updates)
                        {
                            <div class="single-blog-post">

                                <div class="content-box">
                                    <div class="content">
                                        <a href="#"><h3>@items.Title</h3></a>
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li><a href="#"><i class="fa fa-user"></i>@items.EventDate</a></li>

                                            </ul>
                                        </div>
                                        @try
                                        {
                                        <p>@Html.Raw(items.Description.Substring(0, 50))</p>
                                        }
                                        catch
                                        {
                                        <p>@Html.Raw(items.Description)</p>
                                        }


                                    </div>
                                    <div class="bottom-box clearfix">
                                        <a href="/home/EventDetails/@items.EventId" class="blogbtn">Read More &nbsp;<i class="icon fa fa-long-arrow-right"></i></a>
                                        <ul class="pull-right share">
                                            <li><span>Share: </span></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        }
                   

                </div>
            </div>

            @Html.Partial("_LocalBusiness")
            
        </div>
        
    </div>

</div>

