@{
    ViewBag.Title = "Home Page";
}
@model NZNA.Areas.Admin.Models.Aboutpage
    @using NZNA.Models;
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    var updates = db.Events.ToList().Take(5);
    var about = db.Aboutpages.SingleOrDefault();
}


  @Html.Partial("_banner")
<div class="welcome-sec">
    <div class="container">
        <div class="row">
            @Html.Partial("_Saugat")
            <div class="col-lg-6 col-md-4 col-sm-6">
                <div class="weltext">
                    <h2>Welcome to <span>New Zealand Nepal Society!</span></h2>
                    <p class="midtext">Namaste and Kia Ora!</p>

                    @try
                    {
                        <p>@Html.Raw(about.Description.Substring(0, 600)) <a href="/home/about">Read More...</a></p>
                    }
                    catch
                    {
                        <p>No description!</p>
                    }


                    @*@try
            {
                <p>@Html.Raw(Model.Description.Substring(0, 350)) <a href="/home/about">Read More...</a></p>
            }
            catch
            {
                <p>No description!</p>
            }*@


                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="weltext">

                    @foreach (var items in updates)
                    {
                        <div class="single-blog-post" style="margin-bottom: 5px;">

                            <div class="content-box">

                                @if (items.ImageUrl != null)
                                {
                                    <div class="img-box">
                                        <img src="@items.ImageUrl.Replace(".jpg","_list.jpg")" alt="">
                                        <div class="date">
                                            <b>@items.EventDate.Substring(0, 2)</b> @items.EventDate.Substring(3, 3)
                                        </div>
                                    </div>
                                }

                                <div class="content">
                                    <a href="/home/EventDetails/@items.EventId"><h3>@items.Title</h3></a>
                                    @*<div class="entry-meta">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-user"></i>@items.EventDate</a></li>

                                        </ul>
                                    </div>*@
                                    @try
                                    {
                                        <p>@Html.Raw(items.Description.Substring(0, 150))</p>
                                    }
                                    catch
                                    {
                                        <p>@Html.Raw(items.Description)</p>
                                    }


                                </div>
                                <div class="bottom-box clearfix">
                                    <a href="/home/EventDetails/@items.EventId" class="blogbtn">Read More &nbsp;<i class="icon fa fa-long-arrow-right"></i></a>
                                    @*<ul class="pull-right share">
                <li><span>Share: </span></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>*@
                                </div>
                            </div>


                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                    }


                </div>
            </div>

            @Html.Partial("_LocalBusiness")
            
        </div>
        
    </div>

</div>

