@using NZNA.Models;
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    var resources = db.RelatedLinks.ToList();
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcome-sec">
    <div class="container">
        <div class="row">
            @Html.Partial("_Saugat")
            <div class="col-lg-6 col-md-4 col-sm-6">
                @foreach (var items in resources)
                {
                    <div class="single-blog-post">
                        @if(items.ImageUrl != null)
                        {
                        <div class="img-box">
                            <img src="@items.ImageUrl" alt="@items.Title">
                        </div>
                        }
                        
                        <div class="content-box">
                            <div class="content">
                                <a href="@items.TitleLink"><h3>@items.Title</h3></a>
                               
                                <p>@Html.Raw(items.Description)</p>
                                @*<div class="bottom-box clearfix">
                                    <a href="blog-single.html" class="blogbtn">Read More &nbsp;<i class="icon fa fa-long-arrow-right"></i></a>
                                    <ul class="pull-right share">
                                        <li><span>Share: </span></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                    </div>
                }




            </div>



            @Html.Partial("_LocalBusiness")


        </div>

    </div>

</div>

