@using NZNA.Models;
@{
    ApplicationDbContext db = new ApplicationDbContext();
    var saugat = db.Saugats.ToList().Where(x => x.DelFlg = true).Take(3);
    var events = db.Events.ToList().Where(e => e.DelFlg = true).Take(3);
}

<div class="col-lg-3 col-md-4 col-sm-6">
    <aside class="sidebar">
        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h2>NZNS Publication: Saugat</h2>
            </div>
            @try
            {
                foreach (var items in saugat)
                {
                    <article class="post">
                        <figure class="post-thumb">
                            <a href="#"><img src="" alt=""></a>
                        </figure>
                        <h4><a href="#"><b>@items.Title</b></a></h4>
                        <div class="post-info">
                            <div class="widget sidebar-widget downloads">
                                <ul><li> <a href="@items.LinkUrl"><span class="icon fa fa-file-pdf-o"></span> Download</a></li></ul>
                            </div>
                        </div>
                    </article>
                }
            }
            catch
            {
                <p>No items to display</p>
            }



        </div>
        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h2>Upcomming Events</h2>
            </div>
            @try
            {
                foreach (var item in events)
                {
                    <article class="post">
                        <figure class="post-thumb">
                            <a href="#"><img src="@item.ImageUrl" alt=""></a>
                        </figure>
                        <h4><a href="#">@item.Title</a></h4>
                        <div class="post-info">@item.EventDate</div>
                    </article>
                }
            }
            catch
            {
                <p>No items to display</p>
            }
        </div>
    </aside>
</div>
